SERVICE_NAME="lxc-setup.service"
SERVICE_PATH="/etc/systemd/system/lxc-setup.service"
SCRIPT_PATH="/usr/local/bin/*"
REPO_URL="git@github.com:shikasan2127/lxc-setup.git"
REPO_DIR="lxc-setup"
IPA_ADMIN_PASS="YourIpaPassword"
